$color-primary:#0Ea5e9;
$color-primary-light:#B3D5D6;
$color-secondary:#4aae9b;
$color-background:#EBF3F6;
$color-gray: #888;
$color-red:#E6342A;
$color-green:#C8DC3F;
$color-white:#fff;
$color-black:#000002;
$default-font-size:1.6rem;
