.form {
  width: 74%;
  margin: 5rem auto;
  &-group {
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    & > input {
      margin-top: 0.4rem;
    }
  }
}

input.form-control {
  border: none;
  border-bottom: 1px solid $color-gray;
  background-color: $color-background;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 0.5em;
  &:hover,
  &:focus {
    border: 1px solid rgba($color: $color-gray, $alpha: 1.5);
  }
}


input:invalid,textarea:invalid {
  border: 1px solid red;
}

input:valid,textarea:valid {
  border-bottom: 1px solid green;
}
