.info-card {
  margin: 2rem auto;
  padding: 2rem;
  width: 60%;
  min-height: 200px;
  display: grid;
  grid-template-rows: 20px 50px 1fr 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  background: radial-gradient($color-primary-light, $color-primary);
  &:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
  }
  &-link,
  &-icon {
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
  }
  &-link {
    &::after {
      position: absolute;
      top: 25px;
      left: 0;
      content: "";
      width: 0%;
      height: 3px;
      background-color: rgba(255, 255, 255, 0.6);
      transition: all 0.5s;
    }
    &:hover::after {
      width: 100%;
    }
  }
  &-icon {
    grid-row: 2/3;
    font-size: 3rem;
  }
  &-title {
    grid-row: 3/4;
    font-weight: 400;
    color: $color-white;
  }
  &-apply {
    grid-row: 4/5;
    align-self: center;
  }
}


